/**
 *
 * Apply your custom CSS here
 *
*/

html {
    min-width: 500px;
}

.table > thead > tr > th, .table > tbody > tr > td, .table > tfoot > tr > td, .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
    padding: 5px 8px;
}

.table > thead > tr > th, .table > tfoot > tr > th {
    background: #eeeeee !important;
}

@media (min-width: 767px) {
    .sidebar-menu:not(.collapsed) {
        width: 240px !important;
    }

    /*.sidebar-menu {*/
    /*width: 100% !important;*/
    /*}*/
}

.sidebar-menu .logo-env {
    padding: 20px 45px;
}

.dataTables_wrapper {
    position: relative;
}

div.dataTables_processing {
    padding-top: 10px;
}

.navbar > ul > li > a {
    border-bottom: 1px solid transparent !important;
}

.navbar > ul > li.open > a {
    border-bottom: 1px solid #fff !important;
}

/*
 * Datatables
 */

.dataTables_wrapper table.dataTable thead > tr > th, .dataTables_wrapper table.dataTable tfoot > tr > th {
    padding-left: 7px;
    padding-right: 7px;
    background: #eeeeee !important;
}

.dataTables_wrapper .table > thead > tr > td, .dataTables_wrapper .table > tbody > tr > td, .dataTables_wrapper .table > tfoot > tr > td, .dataTables_wrapper .table > thead > tr > th, .dataTables_wrapper .table > tbody > tr > th, .dataTables_wrapper .table > tfoot > tr > th {
    padding: 7px 7px;
    vertical-align: middle;
}

.dataTables_wrapper table .btn i, .dataTables_wrapper .table .btn i {
    padding: 0 !important;
}

.dataTables_wrapper .dataTables_paginate {
    padding-top: 0px;
}

@media (max-width: 991px) {
    ul.pagination li:not(:first-child):not(:last-child):not(.active) {
        display: none;
    }
}

.dataTables_filter input {
    max-width: 94% !important;
}

/*extra css*/

.page-container .main-content .page-title {
    padding: 4px 0;
}

.main-content .page-title .breadcrumb-env {
    display: block;
    margin-top: 6px;
    margin-bottom: 6px;
}

.page-container .main-content .page-title .breadcrumb-env .breadcrumb {
    margin-top: 0px;
}

.sidebar-menu .logo-env {
    padding: 5px 25px;
}

.sidebar-menu.collapsed .logo-env {
    padding: 3px 0;
}

.sidebar-menu .main-menu {
    padding-left: 20px;
    padding-right: 20px;
}

@media all and (max-width: 767px) {
    .page-container .sidebar-menu .sidebar-menu-inner .logo-env {
        padding-top: 3px;
        padding-bottom: 3px;
    }
}

.page-container .sidebar-menu .sidebar-menu-inner .logo-env .mobile-menu-toggle {
    float: right;
    margin-top: 7px;
}

.sidebar-menu .main-menu {
    margin-top: 14px;
}