.ace_option_start, .ace_option_end, .ace_option, .ace_correct_option_start, .ace_correct_option_end, .ace_correct_option {
    font-weight: 900;
    vertical-align: middle;
}

.ace_text {
    vertical-align: middle;
}

.ace_option_start, .ace_option_end {
    color: lightskyblue;
}

.ace_option {
    color: orange;
}

.ace_correct_option_start, .ace_correct_option_end {
    color: dodgerblue;
}

.ace_correct_option {
    color: lightcoral;
}