<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="{{ asset('assets/images/favicon.png') }}" rel="icon">
        <link rel="shortcut icon" href="{{ asset('assets/images/favicon.png') }}" type="image/x-icon">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="description" content="Xenon Boostrap Admin Panel"/>
        <meta name="author" content=""/>

        <title>{% block title %}Examinr{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
            <link rel="stylesheet" href="{{ asset('assets/css/fonts/linecons/css/linecons.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/fonts/fontawesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/xenon-core.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/xenon-forms.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/xenon-components.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/xenon-skins.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/switches.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/js/alerts/alert.css') }}">
        {% endblock %}

        <script src="{{ asset('assets/js/jquery-1.11.1.min.js') }}"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>

        <div class="page-container">

            {% include 'lateral-nav.html.twig' %}

            <div class="main-content">

                {% include 'nav.html.twig' %}

                {% block body %}{% endblock %}

                {% include 'footer.html.twig' %}

            </div>

        </div>


        {#<div class="page-loading-over #}

        {% block endhtml %}{% endblock %}

        <!-- Bottom Scripts -->
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/TweenMax.min.js') }}"></script>
        <script src="{{ asset('assets/js/resizeable.js') }}"></script>
        <script src="{{ asset('assets/js/joinable.js') }}"></script>
        <script src="{{ asset('assets/js/xenon-api.js') }}"></script>
        <script src="{{ asset('assets/js/xenon-toggles.js') }}"></script>


        <!-- Imported scripts on this page -->
        <script src="{{ asset('assets/js/xenon-widgets.js') }}"></script>
        <script src="{{ asset('assets/js/devexpress-web-14.1/js/globalize.min.js') }}"></script>
        {#<script src="{{ asset('assets/js/devexpress-web-14.1/js/dx.chartjs.js') }}"></script>#}
        {#<script src="{{ asset('assets/js/toastr/toastr.min.js') }}"></script>#}
        <script src="{{ asset('assets/js/alerts/alert.js') }}"></script>

        {% block javascripts %}{% endblock %}

        <!-- JavaScripts initializations and stuff -->
        <script src="{{ asset('assets/js/xenon-custom.js') }}"></script>
        <script>
            $(function () {
                resize(10);
            });
            var resize = function(times) {
                $(window).resize();
                setTimeout(function (){
                    resize(times - 1);
                }, 500)
            }
        </script>

    </body>
</html>
