<!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

<!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
<!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
<!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
<div class="sidebar-menu {#toggle-others#} fixed">

    <div class="sidebar-menu-inner">

        <header class="logo-env">

            <!-- logo -->
            <div class="logo">
                <a href="dashboard-1.html" class="logo-expanded">
                    {#<img src="{{ asset('assets/images/logo/ATT00002.jpg') }}" width="89" alt=""/>#}
                    {#<img src="{{ asset('assets/images/logo/logo.png') }}" width="89" alt=""/>#}
                    <img src="{{ asset('assets/images/logo.png') }}" width="180px" alt=""/>
                </a>

                <a href="dashboard-1.html" class="logo-collapsed">
                    {#<img src="{{ asset('assets/images/logo/logo-collapsed.png') }}" width="21" alt=""/>#}
                    <img src="{{ asset('assets/images/logo-collapsed.png') }}" width="67px" alt=""/>
                </a>
            </div>

            <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
            <div class="mobile-menu-toggle visible-xs">

                <a href="#" data-toggle="mobile-menu">
                    <i class="fa-bars"></i>
                </a>
            </div>

        </header>

        <ul id="main-menu" class="main-menu auto-inherit-active-class">

            <li {% if app.request.attributes.get('_route') == 'modules' %}class="active"{% endif %}>
                <a href="{{ path('modules') }}">
                    <i class="fa fa-cubes"></i>
                    <span class="title">Modules</span>
                </a>
            </li>

            <li {% if app.request.attributes.get('_route') == 'questions' or app.request.attributes.get('_route') == 'new_question' %}class="active opened"{% endif %}>
                <a href="{#{{ path('get_encuestas') }}#}">
                    <i class="fa fa-question-circle"></i>
                    <span class="title">Questions</span>
                </a>
                <ul>
                    <li {% if app.request.attributes.get('_route') == 'questions' %}class="active"{% endif %}>
                        <a href="{{ path('questions') }}">
                            <i class="fa fa-list"></i>
                            <span class="title">All Questions</span>
                        </a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li {% if app.request.attributes.get('_route') == 'new_question' %}class="active"{% endif %}>
                            <a href="{{ path('new_question') }}">
                                <i class="fa fa-plus"></i>
                                <span class="title">Add New</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>

            <li {% if app.request.attributes.get('_route') == 'exams' or app.request.attributes.get('_route') == 'new_exam' %}class="active opened"{% endif %}>
                <a href="{#{{ path('get_encuestas') }}#}">
                    <i class="fa fa-pencil"></i>
                    <span class="title">Exams</span>
                </a>
                <ul>
                    <li {% if app.request.attributes.get('_route') == 'exams' %}class="active"{% endif %}>
                        <a href="{{ path('exams') }}">
                            <i class="fa fa-list"></i>
                            <span class="title">All Exams</span>
                        </a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li {% if app.request.attributes.get('_route') == 'new_exam' %}class="active"{% endif %}>
                            <a href="{{ path('new_exam') }}">
                                <i class="fa fa-plus"></i>
                                <span class="title">Add New</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>

            <li {% if app.request.attributes.get('_route') == 'results' %}class="active"{% endif %}>
                <a href="{{ path('results') }}">
                    <i class="fa fa-line-chart"></i>
                    <span class="title">Results</span>
                </a>
            </li>

            <li {% if app.request.attributes.get('_route') == 'surveys_topics' or app.request.attributes.get('_route') == 'survey_questions' or app.request.attributes.get('_route') == 'survey_new_question' or app.request.attributes.get('_route') == 'surveys' or app.request.attributes.get('_route') == 'new_survey' %}class="active opened"{% endif %}>
                <a href="{#{{ path('get_encuestas') }}#}">
                    <i class="fa fa-pie-chart"></i>
                    <span class="title">Surveys</span>
                </a>
                <ul>
                    <li {% if app.request.attributes.get('_route') == 'surveys_topics' %}class="active"{% endif %}>
                        <a href="{{ path('surveys_topics') }}">
                            <i class="fa fa-list"></i>
                            <span class="title">Topics</span>
                        </a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'survey_questions' %}class="active"{% endif %}>
                        <a href="{{ path('survey_questions') }}">
                            <i class="fa fa-list"></i>
                            <span class="title">Questions</span>
                        </a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'survey_new_question' %}class="active"{% endif %}>
                        <a href="{{ path('survey_new_question') }}">
                            <i class="fa fa-plus"></i>
                            <span class="title">Add Question</span>
                        </a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'surveys' %}class="active"{% endif %}>
                        <a href="{{ path('surveys') }}">
                            <i class="fa fa-list"></i>
                            <span class="title">All surveys</span>
                        </a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'new_survey' %}class="active"{% endif %}>
                        <a href="{{ path('new_survey') }}">
                            <i class="fa fa-plus"></i>
                            <span class="title">Add Survey</span>
                        </a>
                    </li>
                </ul>
            </li>

            {% if is_granted('ROLE_ADMIN') %}
                <li {% if app.request.attributes.get('_route') == 'deleted_modules' or app.request.attributes.get('_route') == 'deleted_questions' or app.request.attributes.get('_route') == 'deleted_exams' %}class="active opened"{% endif %}>
                    <a href="{#{{ path('get_encuestas') }}#}">
                        <i class="fa fa-trash"></i>
                        <span class="title">Deleted items</span>
                    </a>
                    <ul>
                        <li {% if app.request.attributes.get('_route') == 'deleted_modules' %}class="active"{% endif %}>
                            <a href="{{ path('deleted_modules') }}">
                                <i class="fa fa-cubes"></i>
                                <span class="title">Modules</span>
                            </a>
                        </li>
                        <li {% if app.request.attributes.get('_route') == 'deleted_questions' %}class="active"{% endif %}>
                            <a href="{{ path('deleted_questions') }}">
                                <i class="fa fa-question-circle"></i>
                                <span class="title">Questions</span>
                            </a>
                        </li>
                        <li {% if app.request.attributes.get('_route') == 'deleted_exams' %}class="active"{% endif %}>
                            <a href="{{ path('deleted_exams') }}">
                                <i class="fa fa-pencil"></i>
                                <span class="title">Exams</span>
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}

        </ul>

    </div>

</div>