<!-- User Info, Notifications and Menu Bar -->
<nav class="navbar user-info-navbar fixed-top" role="navigation">

    <!-- Left links for user info navbar -->
    <ul class="user-info-menu left-links list-inline list-unstyled">

        <li class="hidden-sm hidden-xs">
            <a href="#" data-toggle="sidebar">
                <i class="fa-bars"></i>
            </a>
        </li>

    </ul>


    <!-- Right links for user info navbar -->
    <ul class="user-info-menu right-links list-inline list-unstyled">

        <li class="dropdown user-profile">
            <a href="#" data-toggle="dropdown">
                <span>
                    {{ app.user.fullname }}
                    <i class="fa-angle-down"></i>
                </span>
            </a>

            <ul class="dropdown-menu user-profile-menu list-unstyled">
                {#<li>#}
                    {#<a href="#profile">#}
                        {#<i class="fa-user"></i>#}
                        {#Profile#}
                    {#</a>#}
                {#</li>#}
                <li class="last">
                    <a href="{{ path('user_logout') }}">
                        <i class="fa-lock"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </li>

    </ul>

</nav>