.alert-area {
    position: fixed;
    overflow-y: visible;
    bottom: 10px;
    right: 0px;
    width: 25%;
    z-index: 10000;
}

.alert {
    margin: 5px 0;
}

@media all and (max-width: 768px) {
    .alert-area {
        width: 100%;
        padding: 0 5px;
    }
}