{% extends "::base.html.twig" %}

{% block title %}Survey Questions{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/js/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/js/uikit/uikit.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/questionDSL.css') }}">

    <style>
        .col-actions {
            width: 113px;
            max-width: 113px;
            min-width: 113px;
        }

        .col-type {
            width: 113px;
            max-width: 113px;
            min-width: 113px;
        }

        .col-module {
            width: 160px;
            max-width: 160px;
            min-width: 160px;
        }

        @media (max-width: 991px) {
            .col-type, .col-module {
                display: none !important;
            }
        }

        @media (max-width: 1199px) {
            .col-actions {
                width: 75px;
                max-width: 75px;
                min-width: 75px;
            }
        }
    </style>
{% endblock %}

{% block body %}

    <div class="page-title">

        <div class="title-env">
            <h1 class="title"><i class="fa fa-question-circle"></i> Survey Questions</h1>
        </div>

        <div class="breadcrumb-env">

            <ol class="breadcrumb bc-1">
                <li>
                    <a href="/"><i class="fa-home"></i>Home</a>
                </li>
                <li class="active">
                    <strong>Survey Questions</strong>
                </li>
            </ol>

        </div>

    </div>

    <div class="row" ng-controller="question">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body no-top-padding">
                    <input type="text" style="display: none" id="deleteInterface" ng-model="deleteId"
                           ng-change="delete()">
                    <table id="question-table" class="table table-striped {#table-bordered#}" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th class="col-module">Topic</th>
                            <th class="col-text">Text</th>
                            <th class="col-actions"></th>
                        </tr>
                        </thead>

                        <tfoot>
                        <tr>
                            <th colspan="3">
                                <strong>Module: </strong>
                                <select class="form-control" id="module-filter">
                                    <option value="">All</option>
                                    {% for module in topics %}
                                        <option value="{{ module.id }}">{{ module.name }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                        </tr>
                        </tfoot>

                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block endhtml %}
    <div class="modal fade" id="deleteQuestion">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirm</h4>
                </div>

                <div class="modal-body">
                    Do you want to delete this survey question?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-info" id="deleteQuestionBtn" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/yadcf/jquery.dataTables.yadcf.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/tabletools/dataTables.tableTools.min.js') }}"></script>
    <script src="{{ asset ('assets/js/angular/angular.min.js') }}"></script>
    <script src="{{ asset ('assets/js/parser.js') }}"></script>

    <script type="text/javascript">
        var editUrl = '{{ path('survey_edit_question', {'question_id':'question_id'}) }}';
        var app = angular.module('app', []);

        app.controller('question', function ($scope, $http) {

            $scope.deleteUrl = '{{ path('survey_delete_question', {'question_id':'question_id'}) }}';
//            $scope.deleteId = '';

            $scope.delete = function () {

                var responsePromise = $http({
                    method: "post",
                    url: $scope.deleteUrl.replace('question_id', $scope.deleteId.split('--')[0]),
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                });

                responsePromise.success(function (data, status, headers, config) {
                    if (data.error) {
                        $scope.error = data.error;
                    } else {
                        $scope.moduleName = '';
                        $.alertSystem.show('success', 'Survey Question deleted successfully.');
                        reloadDataTable();
                    }
                    $scope.adding = false;
                });

                responsePromise.error(function (data, status, headers, config) {
                    if (status == 500) {
                        error = 'An error occurred on the server. Please try again later.';
                    } else if (status == 401) {
                        error = 'This action requires authentication. Redirecting to login in 5 sec';
                    } else if (status == 403) {
                        error = 'You don\'t have permissions to execute this action.';
                    } else if (status == 0) {
                        error = 'Could not connect to the server. Please try again later.';
                    }
                    $.alertSystem.show('danger', error);
                });
            };

        });

        var table;
        var eventIndex = 1;
        $geteditActiveUrl = '{{ path('get_edit_module', {'module_id':'module_id'}) }}';
        jQuery(document).ready(function ($) {
            $(window).resize();
            initDataTable();

            $('#question-table').on('click', '.btn-delete', function (evt) {
                evt.preventDefault();
                var deleteInterface = $('#deleteInterface');
                deleteInterface.val($(this).attr('data-id') + '--' + (eventIndex++));
                $('#deleteQuestion').modal('show', {backdrop: 'static'});
            });
            $('#deleteQuestionBtn').on('click', function (evt) {
                $('#deleteInterface').trigger('input');
            });

            $('#module-filter').on('change', function() {
                table.fnFilter($(this).val(), 0);
            });
            $('#type-filter').on('change', function() {
                table.fnFilter($(this).val(), 2);
            });
        });
        var reloadDataTable = function () {
            if (table) {
                if ($('.paginate_button.active a').length > 0) {
                    $('.paginate_button.active a').click();
                }
                else {
                    $('.paginate_button.previous a').click();
                }
            }
        };
        var initDataTable = function () {
            table = $('#question-table').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "{{ path('survey_questions_ajax') }}",
                "columns": [
                    { "data": "topic", "name": "topic" },
                    { "data": "text", "name": "text" },
                    { "data": "null", "name": "actions", "defaultContent": "", orderable: false }
                ],
                "createdRow": function (row, data, index) {
                    $($(row).children()[0]).addClass('col-module');
                    $($(row).children()[1]).html(Parser.format($($(row).children()[1]).html()));
                    $($(row).children()[2]).html("<a href='" + editUrl.replace('question_id', data.id) + "' id='btn-edit-" + index + "' class='btn btn-secondary btn-sm btn-icon icon-left btn-edit edit' data-id='" + data.id + "'><i class='fa-edit hidden-lg'></i><span class='hidden-md hidden-sm hidden-xs'>Edit</span></a> <a href='#' class='btn btn-danger btn-sm btn-icon icon-left btn-delete delete' data-id='" + data.id + "'><i class='fa-trash hidden-lg'></i><span class='hidden-md hidden-sm hidden-xs'>Delete</span></a>");
                }
            });
            $('#question-table_processing').css({width: '100%', height: '100%', background: 'rgba(0,0,0,0.45)', top: '21px', 'z-index': 1000}).html('<img src="{{ asset('assets/images/loading.GIF') }}" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 50px;">');
        };

    </script>
{% endblock %}