{% extends "::base.html.twig" %}

{% block title %}{% if question.id is defined %}Edit{% else %}Add{% endif %} survey question{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/js/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/js/uikit/uikit.css') }}">

    <style>
        #_editor {
            height: 116px;
            padding: 7px;
            border: 1px solid #e4e4e4;
        }

        #editor {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
            border: 0;
            padding: 0;
        }

        .ace_active-line {
            background: transparent !important;
        }

        .ace_layer.ace_print-margin-layer {
            display: none;
        }

        .ace_indent-guide {
            background: none !important;
        }

        .ace_option_start {
            color: lightskyblue;
            font-weight: 900;
        }

        .ace_option_end {
            color: lightskyblue;
            font-weight: 900;
        }

        .ace_option {
            color: orange;
            font-weight: 900;
        }

        .ace_correct_option_start {
            color: dodgerblue;
            font-weight: 900;
        }

        .ace_correct_option_end {
            color: dodgerblue;
            font-weight: 900;
        }

        .ace_correct_option {
            color: lightcoral;
            font-weight: 900;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="page-title">

        <div class="title-env">
            <h1 class="title">{% if question.id is defined %}Edit{% else %}Add{% endif %} survey question</h1>
        </div>

        <div class="breadcrumb-env">

            <ol class="breadcrumb bc-1">
                <li>
                    <a href="/"><i class="fa-home"></i>Home</a>
                </li>
                <li class="active">
                    <strong>{% if question.id is defined %}Edit{% else %}Add{% endif %} survey question</strong>
                </li>
            </ol>

        </div>

    </div>

    {% if errors is defined and errors|length > 0 %}
        <div class="alert alert-danger col-sm-12">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
            {{ errors }}
        </div>
    {% endif %}

    <div class="row" ng-controller="question">
        <div class="col-sm-12">
            <div class="panel panel-default">
                {#<div class="panel-heading">#}
                {#General Information#}
                {#</div>#}

                <div class="panel-body no-top-padding row">

                    <form method="POST" action="{{ (question is defined and question.id) ? path('survey_edit_question', {'question_id':question.id}) : path('survey_new_question') }}" id="form">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="{#col-sm-3 #}control-label">Topic:</label>

                                {#<div class="col-sm-5">#}
                                <select class="form-control" name="moduleFilter" id="moduleFilter">
                                    {% for module in topics %}
                                        <option value="{{ module.id }}" {% if question.module is defined and question.module.id == module.id %}selected{% endif %}>{{ module.name }}</option>
                                    {% endfor %}
                                </select>
                                {#</div>#}
                            </div>
                        </div>
                        <input type="hidden" name="typeFilter" id="typeFilter" value="noCorrect">
                        {#<div class="col-sm-4">#}
                            {#<div class="form-group" style="opacity: 0">#}
                                {#<label class="&#123;&#35;col-sm-3&#35;&#125; control-label">Type:</label>#}

                                {#&#123;&#35;<div class="col-sm-5">&#35;&#125;#}
                                {#<select class="form-control" name="typeFilter" id="typeFilter">#}
                                    {#<option value="Choose Correct" selected>Choose Correct</option>#}
                                {#</select>#}
                                {#&#123;&#35;</div>&#35;&#125;#}
                            {#</div>#}
                        {#</div>#}
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="{#col-sm-3 #}control-label">Text:</label>

                                <div class="{#col-sm-9#}">
                                    <input type="hidden" name="text" id="textContainer"/>

                                    <div style="margin-bottom: 15px" id="_editor">
                                        <pre id="editor">{% if question.text is defined %}{{ question.text }}{% endif %}</pre>
                                    </div>
                                </div>
                                <div class="alert alert-danger" id="editor-errors">
                                    <h4>Errors</h4>
                                    <ol style="margin-bottom: 0; padding-left: 19px">
                                        <li>All options are marked with</li>
                                        <li>All the options must be together at the end of the text.</li>
                                    </ol>
                                </div>
                                <div class="alert alert-default">
                                    <h4>Rules for creating a question</h4>
                                    <ol style="margin-bottom: 0; padding-left: 19px">
                                        <li>
                                            All options are marked with <span class="ace_option_start">(</span><span
                                                    class="ace_option_end">)</span>. <i class="eg">eg <span
                                                        class="ace_option_start">(</span><span
                                                        class="ace_option">today</span><span
                                                        class="ace_option_end">)</span>, <span class="ace_option_start">(</span><span
                                                        class="ace_option">yes</span><span
                                                        class="ace_option_end">)</span></i>.
                                        </li>
                                        <li>
                                            All the options must be together at the end of the text.
                                        </li>
                                        <li>
                                            All white spaces at the start and end of the question will be ignored.
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 text-center">
                            <div style="border-top: 1px solid #e0e0e0; margin-bottom: 15px"></div>

                            <button class="btn btn-success btn-sm" type="submit">
                                <pan class="ng-binding">Save</pan>
                                <i class="fa-spin fa-spinner ng-hide" ng-hide="!adding"></i>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/yadcf/jquery.dataTables.yadcf.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/tabletools/dataTables.tableTools.min.js') }}"></script>
    <script src="{{ asset ('assets/js/angular/angular.min.js') }}"></script>
    <script src="{{ asset ('assets/js/ace/ace.js') }}"></script>
    <script src="{{ asset ('assets/js/ace-editor/parser.js') }}"></script>
    <script src="{{ asset ('assets/js/ace-editor/parser-error-reporter.js') }}"></script>

    <script type="text/javascript">
        var app = angular.module('app', []);
        var parser = null

        app.controller('question', function ($scope, $http) {

        });

        $(function () {
            editor = ace.edit("editor");
            editor.setOption("lineNumber", 5)
            editor.setTheme("ace/theme/chrome");
            editor.getSession().setMode("ace/mode/question");
            editor.renderer.setShowGutter(false);
            editor.setFontSize(14);
            editor.getSession().setUseWrapMode(true)
            $('#form').on('submit', function () {
                var code = editor.getSession().getValue();
                $('#textContainer').val(code);
            });

            window.require(["ace/token_iterator"], function (tokenIterator) {
                errorReporter = new ErrorReporter($('#editor-errors'));
                parser = new Parser(editor, tokenIterator.TokenIterator, $('#typeFilter').val() == 'Choose Correct', errorReporter);
            });
            $('#typeFilter').on('change', function () {
                parser.setSelectCorrect($(this).val() == 'Choose Correct');
                parser.analize();
            });
        });
    </script>
{% endblock %}