<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Login</title>
    <link href="{{ asset('assets/images/favicon.png') }}" rel="icon">
    <link rel="shortcut icon" href="{{ asset('assets/images/favicon.png') }}" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="Xenon Boostrap Admin Panel"/>
    <meta name="author" content=""/>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
    <link rel="stylesheet" href="{{ asset('assets/css/fonts/linecons/css/linecons.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/fonts/fontawesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/xenon-core.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/xenon-forms.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/xenon-components.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/xenon-skins.css') }}">

    <script src="{{ asset('assets/js/jquery-1.11.1.min.js') }}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-layout">
<style>
    body {
        background: url("{{ asset('assets/images/BRIDGERIVERTHAMES.jpg') }}");
        background-size: cover;
        background-position: 50% 50%;
    }

    .login-box {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        width: 280px;
    }

    .login-header {
        background: rgba(0, 0, 0, 0.5);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 5px;
    }

    .login-body {
        padding: 15px;
    }

    .login-body button {
        background: rgb(124,182,48); /* Old browsers */
        background: -moz-linear-gradient(top, rgb(124,182,48) 0%, rgb(77,129,16) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(124,182,48)), color-stop(100%,rgb(77,129,16))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgb(124,182,48) 0%,rgb(77,129,16) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgb(124,182,48) 0%,rgb(77,129,16) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgb(124,182,48) 0%,rgb(77,129,16) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgb(124,182,48) 0%,rgb(77,129,16) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(124,182,48)', endColorstr='rgb(77,129,16)',GradientType=0 ); /* IE6-9 */
        border: none !important ;
        border-radius: 4px;
    }

    .position {
        position: absolute;
        top:10%;
        /*left: 5%;*/
        right: 5%;
        /*-ms-transform: translate(-50%, -50%);*/
        /*-webkit-transform: translate(-50%, -50%);*/
        /*transform: translate(-50%, -50%);*/
        min-width: 280px;
    }

    @media all and (max-width: 500px) {
        .position {
            position: absolute;
            top:5%;
            left: 50%;
            -ms-transform: translate(-50%, 0%);
            -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
        }
    }

    .close {
        color: #fff; opacity: 0.75;
    }

    .close:hover {
        color: #fff; opacity: 1;
    }
</style>
<div class="login-box position">
    <form action="{{ path('user_login_check') }}" method="post" autocomplete="off">
        {#<input type="hidden" name="_target_path" value="{{ referer }}"/>#}

        <div class="login-header">
            {#<img src="{{ asset('assets/images/logo-black.png') }}" style="width: 100%">#}
            <img src="{{ asset('assets/images/logo.png') }}" style="width: 100%">
        </div>

        <div class="login-body">

            {% if errors is defined and errors|length > 0 %}
                <div class="alert alert-danger col-sm-12">
                    <script>
                        $(function() {
                            $('.close').on('click', function (evt) {
                                $(this).parent().remove();
                                return false;
                            });
                        });
                    </script>
                    <a href="" class="close">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </a>
                    Username or password incorrect
                </div>
            {% endif %}

            <div class="form-group">
                <input type="text" class="form-control" name="_username" id="username" autocomplete="off"
                       placeholder="username" autofocus=""/>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" name="_password" id="passwd" autocomplete="off"
                       placeholder="password"/>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary  btn-block text-center">
                    Enter
                </button>
            </div>

            {#<div class="login-footer">#}
                {#<a href="#" style="color: dodgerblue">Forgot your password?</a>#}
            {#</div>#}
        </div>
    </form>
</div>

{#<style>#}
    {#body {#}
        {#background: url("{{ asset('assets/images/BRIDGERIVERTHAMES.jpg') }}");#}
        {#background-size: cover;#}
        {#background-position: 50% 50%;#}
    {#}#}

    {#.login-box {#}
        {#background: rgba(0, 0, 0, 0.5);#}
        {#border-radius: 5px;#}
        {#width: 260px;#}
        {#padding: 12px;#}
    {#}#}

    {#.login-header {#}
        {#/*background: rgba(0, 0, 0, 0.5);*/#}
        {#/*border-top-left-radius: 4px;*/#}
        {#/*border-top-right-radius: 4px;*/#}
        {#/*padding: 5px;*/#}
    {#}#}

    {#.login-body {#}
        {#padding: 15px 0 0;#}
    {#}#}

    {#.login-box input {#}
        {#padding-top: 19px;#}
        {#padding-bottom: 19px;#}
        {#border: 1px solid #FFFFFF;#}
    {#}#}

    {#.login-box input:focus {#}
        {#border: 1px solid #FFFFFF;#}
    {#}#}

    {#.login-box input:first-child {#}
        {#border-bottom: 1px solid #e3e3e3;#}
    {#}#}

    {#.login-box input:first-child:focus {#}
        {#border-bottom: 1px solid #e3e3e3;#}
    {#}#}

    {#.login-box .form-group:first-child {#}
        {#margin-bottom: 0;#}
    {#}#}

    {#.login-body button {#}
        {#background: rgb(124,182,48); /* Old browsers */#}
        {#background: -moz-linear-gradient(top, rgb(124,182,48) 0%, rgb(77,129,16) 100%); /* FF3.6+ */#}
        {#background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(124,182,48)), color-stop(100%,rgb(77,129,16))); /* Chrome,Safari4+ */#}
        {#background: -webkit-linear-gradient(top, rgb(124,182,48) 0%,rgb(77,129,16) 100%); /* Chrome10+,Safari5.1+ */#}
        {#background: -o-linear-gradient(top, rgb(124,182,48) 0%,rgb(77,129,16) 100%); /* Opera 11.10+ */#}
        {#background: -ms-linear-gradient(top, rgb(124,182,48) 0%,rgb(77,129,16) 100%); /* IE10+ */#}
        {#background: linear-gradient(to bottom, rgb(124,182,48) 0%,rgb(77,129,16) 100%); /* W3C */#}
        {#filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(124,182,48)', endColorstr='rgb(77,129,16)',GradientType=0 ); /* IE6-9 */#}
        {#border: none !important ;#}
        {#border-radius: 4px;#}
    {#}#}

    {#.centered {#}
        {#position: absolute;#}
        {#top: 50%;#}
        {#left: 50%;#}
        {#-ms-transform: translate(-50%, -50%);#}
        {#-webkit-transform: translate(-50%, -50%);#}
        {#transform: translate(-50%, -50%);#}
        {#min-width: 280px;#}
    {#}#}

    {#.forgot-password {#}
        {#font-size: 25px;#}
        {#color: #c7cfc7;#}
    {#}#}

    {#.forgot-password:hover {#}
        {#color: #a7afa7#}
    {#}#}
{#</style>#}

{#<div class="login-box centered">#}
    {#<form action="{{ path('user_login_check') }}" method="post" autocomplete="off">#}
        {#<input type="hidden" name="_target_path" value="/"/>#}

        {#<div class="login-header">#}
            {#<img src="{{ asset('assets/images/logo.png') }}" style="width: 100%">#}
        {#</div>#}

        {#<div class="login-body">#}

            {#<div class="form-group">#}
                {#<input type="text" class="form-control" name="_username" id="username" autocomplete="off"#}
                       {#placeholder="username"/>#}
            {#</div>#}

            {#<div class="form-group">#}
                {#<div class="input-group">#}
                    {#<input type="password" class="form-control" name="_password" id="passwd" autocomplete="off"#}
                           {#placeholder="password"/>#}
                    {#<a class="input-group-addon btn" href="forgot-password" style="background: #FFFFFF; border-left: none"><i class="fa fa-question-circle forgot-password"></i></a>#}
                {#</div>#}
            {#</div>#}

            {#<div class="form-group">#}
                {#<button type="submit" class="btn btn-primary  btn-block text-center">#}
                    {#Start sesion#}
                {#</button>#}
            {#</div>#}
        {#</div>#}
    {#</form>#}
{#</div>#}
</body>
</html>