{% extends "::base.html.twig" %}

{% block title %}{% if exam.id is defined %}Edit{% else %}Add{% endif %} exam{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/js/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/js/uikit/uikit.css') }}">

    <style>
        .switch {
            margin-top: 3px;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="page-title">

        <div class="title-env">
            <h1 class="title">{% if exam.id is defined %}Edit{% else %}Add{% endif %} survey</h1>
        </div>

        <div class="breadcrumb-env">

            <ol class="breadcrumb bc-1">
                <li>
                    <a href="/"><i class="fa-home"></i>Home</a>
                </li>
                <li class="active">
                    <strong>{% if exam.id is defined %}Edit{% else %}Add{% endif %} survey</strong>
                </li>
            </ol>

        </div>

    </div>

    {% if errors is defined and errors|length > 0 %}
        <div class="alert alert-danger col-sm-12">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row" ng-controller="question">
        <div class="col-sm-12">
            <div class="panel panel-default">

                <div class="panel-body no-top-padding row">

                    <form method="POST"
                          action="{{ (survey is defined and exam.id) ? path('edit_survey', {'exam_id':exam.id}) : path('new_survey') }}"
                          id="form">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="{#col-sm-3 #}control-label">Name:</label>

                                <input class="form-control" id="name" name="name" placeholder="Survey name" type="text"
                                       value="{{ survey is defined ? exam.name : '' }}">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="{#col-sm-3 #}control-label">Teacher:</label>

                                <input class="form-control" id="teacher" name="teacher" placeholder="Teacher name" type="text"
                                       value="{{ survey is defined ? exam.teacher : '' }}">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="{#col-sm-3 #}control-label">Parallel:</label>

                                <input class="form-control" id="paralelo" name="paralelo" placeholder="Parallel name" type="text"
                                       value="{{ survey is defined ? exam.paralelo : '' }}">
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="{#col-sm-3 #}control-label">Topic:</label>

                                <select class="form-control" name="moduleFilter" id="moduleFilter">
                                    {% for module in topics %}
                                        <option value="{{ module.id }}"
                                                {% if exam.topic is defined and exam.topic.id == module.id %}selected{% endif %}>{{ module.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-sm-2 col-xs-6">
                            <div class="form-group">
                                <label class="{#col-sm-3#} control-label">Active:</label>

                                <div>
                                    <div class="switch">
                                        <input id="active" name="active" class="cmn-toggle cmn-toggle-round"
                                               type="checkbox" {{ (exam is defined and exam.active) ? 'checked="checked"' : '' }}>
                                        <label for="active" class="no-margin"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-5">
                            <div class="form-group">
                                <label class="{#col-sm-3#} control-label">Randomize questions:</label>

                                <div>
                                    <div class="switch">
                                        <input id="randomize" name="randomize" class="cmn-toggle cmn-toggle-round"
                                               type="checkbox" {{ (exam is defined and exam.randomizeQuestions) ? 'checked="checked"' : '' }}>
                                        <label for="randomize" class="no-margin"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-sm-12 text-center">
                            <div style="border-top: 1px solid #e0e0e0; margin-bottom: 15px"></div>

                            <button class="btn btn-success btn-sm" type="submit">
                                <pan class="ng-binding">Save</pan>
                                <i class="fa-spin fa-spinner ng-hide" ng-hide="!adding"></i>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/yadcf/jquery.dataTables.yadcf.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/tabletools/dataTables.tableTools.min.js') }}"></script>
    <script src="{{ asset ('assets/js/angular/angular.min.js') }}"></script>
    <script src="{{ asset ('assets/js/inputmask/jquery.inputmask.bundle.js') }}"></script>

    <script type="text/javascript">
        var app = angular.module('app', []);
        var parser = null

        app.controller('question', function ($scope, $http) {

        });

        $(function () {
            $('.clear-time').on('click', function () {
                if ($(this).attr('data-clear')) {
                    $($(this).attr('data-clear')).val('');
                }
            });
        });
    </script>
{% endblock %}