{% extends "::base.html.twig" %}

{% block title %}Results{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/js/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/js/uikit/uikit.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/questionDSL.css') }}">

    <style>
        table a {
            color: #0000ff;
        }
        .col-invalidate {
            width: 57px;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="page-title">

        <div class="title-env">
            <h1 class="title"><i class="fa fa-line-chart"></i> Results</h1>
        </div>

        <div class="breadcrumb-env">

            <ol class="breadcrumb bc-1">
                <li>
                    <a href="/"><i class="fa-home"></i>Home</a>
                </li>
                <li class="active">
                    <strong>Results</strong>
                </li>
            </ol>

        </div>

    </div>

    <div class="row" ng-controller="results">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body no-top-padding">
                    <input type="text" style="display: none" id="invalidateInterface" ng-model="invalidateId"
                           ng-change="invalidate()">
                    {{ '{{ invalidateId }}' }}
                    <table id="results-table" class="table table-striped {#table-bordered#}" cellspacing="0"
                           width="100%">
                        <thead>
                        <tr>
                            <th class="col-module">Date</th>
                            <th class="col-module">Exam</th>
                            <th class="col-text">Student</th>
                            <th class="col-type">Grade</th>
                            <th class="col-invalidate"></th>
                        </tr>
                        </thead>

                        <tfoot>
                        <tr>
                            <th colspan="5">
                                <strong>Exam: </strong>
                                <select class="form-control" id="exam-filter">
                                    <option value="">All</option>
                                    {% for exam in exams %}
                                        <option value="{{ exam.id }}">{{ exam.name }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                        </tr>
                        </tfoot>

                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block endhtml %}
    <div class="modal fade" id="deleteResults">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirm</h4>
                </div>

                <div class="modal-body">
                    Do you want to delete this exam result?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-info" id="deleteResultBtn" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/yadcf/jquery.dataTables.yadcf.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/tabletools/dataTables.tableTools.min.js') }}"></script>
    <script src="{{ asset ('assets/js/angular/angular.min.js') }}"></script>
    <script src="{{ asset ('assets/js/parser.js') }}"></script>

    <script type="text/javascript">
        var detailsUrl = '{{ path('results_details', {'exam_answer_id':'exam_answer_id'}) }}';
        var app = angular.module('app', []);

        app.controller('results', function ($scope, $http) {

            $scope.invalidateUrl = '{{ path('invalidate_result', {'exam_answer_id':'exam_answer_id'}) }}';

            $scope.invalidate = function () {

                var responsePromise = $http({
                    method: "post",
                    url: $scope.invalidateUrl.replace('exam_answer_id', $scope.invalidateId.split('--')[0]),
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                });

                responsePromise.success(function (data, status, headers, config) {
                    if (data.error) {
                        $scope.error = data.error;
                    } else {
                        $.alertSystem.show('success', 'Exam invalidated successfully.');
                        reloadDataTable();
                    }
                    $scope.adding = false;
                });

                responsePromise.error(function (data, status, headers, config) {
                    if (status == 500) {
                        error = 'An error occurred on the server. Please try again later.';
                    } else if (status == 401) {
                        error = 'This action requires authentication. Redirecting to login in 5 sec';
                    } else if (status == 403) {
                        error = 'You don\'t have permissions to execute this action.';
                    } else if (status == 0) {
                        error = 'Could not connect to the server. Please try again later.';
                    }
                    $.alertSystem.show('danger', error);
                });
            };

        });

        var table;
        var eventIndex = 1;
        jQuery(document).ready(function ($) {
            $(window).resize();
            initDataTable();

            $('#results-table').on('click', '.btn-invalidate', function (evt) {
                evt.preventDefault();
                var invalidateInterface = $('#invalidateInterface');
                invalidateInterface.val($(this).attr('data-id') + '--' + (eventIndex++));
                $('#deleteResults').modal('show', {backdrop: 'static'});
            });
            $('#deleteResultBtn').on('click', function (evt) {
                $('#invalidateInterface').trigger('input');
            });

            $('#exam-filter').on('change', function () {
                table.fnFilter($(this).val(), 0);
            });
        });
        var reloadDataTable = function () {
            if (table) {
                if ($('.paginate_button.active a').length > 0) {
                    $('.paginate_button.active a').click();
                }
                else {
                    $('.paginate_button.previous a').click();
                }
            }
        };
        var initDataTable = function () {
            table = $('#results-table').dataTable({
                "order": [[ 0, "desc" ]],
                "processing": true,
                "serverSide": true,
                "ajax": "{{ path('results_ajax') }}",
                "columns": [
                    {"data": "date", "name": "date", "sort":"desc"},
                    {"data": "exam", "name": "exam"},
                    {"data": "student", "name": "student"},
                    {"data": "result", "name": "result", orderable: false},
                    {"data": "null", "name": "actions", "defaultContent": "", orderable: false }
                ],
                "createdRow": function (row, data, index) {
//                    $($(row).children()[0]).addClass('col-module');
//                    $($(row).children()[1]).html(Parser.format($($(row).children()[1]).html()));
                    var result = data['result'] != "" ? data['result'] : "Pending";
                    $($(row).children()[3]).html("<a href=\"" + detailsUrl.replace("exam_answer_id", data["id"]) + "\">" + result + "</a>");
                    $($(row).children()[4]).html("<a href='#' class='btn btn-danger btn-sm btn-icon icon-left btn-invalidate delete' data-id='" + data.id + "'><i class='fa-trash hidden-lg'></i><span class='hidden-md hidden-sm hidden-xs'>Invalidate</span></a>").addClass("col-invalidate");
                }
            });
            $('#results-table_processing').css({
                width: '100%',
                height: '100%',
                background: 'rgba(0,0,0,0.45)',
                top: '21px',
                'z-index': 1000
            }).html('<img src="{{ asset('assets/images/loading.GIF') }}" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 50px;">');
        };

    </script>
{% endblock %}