{% extends "::base.html.twig" %}

{% block title %}Exam details{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/js/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/js/uikit/uikit.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/questionDSL.css') }}">

    <style>
        .color-black {
            color: #000000;
        }

        .col-number {
            width: 32px;
            text-align: right;
            vertical-align: middle !important;
        }

        .col-question {
            vertical-align: middle !important;
        }

        .col-type {
            width: 70px;
            text-align: center;
            vertical-align: middle !important;
        }

        .col-answer {
            width: 110px;
            text-align: center;
            vertical-align: middle !important;
        }

        .col-result {
            vertical-align: middle !important;
        }

        @media all and (max-width: 768px) {
            .col-type, .col-result {
                display: none !important;
            }

            .correct {
                color: green;
            }

            .incorrect {
                color: red;
            }
        }

        .fa-check {
            color: green;
        }

        .fa-close {
            color: red;
        }
    </style>

{% endblock %}

{% block body %}

    <div class="page-title">

        <div class="title-env">
            <h1 class="title"><i class="fa fa-line-chart"></i> Exam details</h1>
        </div>

        <div class="breadcrumb-env">

            <ol class="breadcrumb bc-1">
                <li>
                    <a href="/"><i class="fa-home"></i>Home</a>
                </li>
                <li>
                    <a href="{{ path('results') }}"><i class="fa-line-chart"></i>Results</a>
                </li>
                <li class="active">
                    <strong>Exam details</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body no-top-padding">

                    <div class="col-md-4 color-black"><b>Date:</b> {{ examAnswer.date|date('d/m/Y h:m:s') }}</div>
                    <div class="col-md-4 color-black"><b>Student:</b> {{ examAnswer.student.dni }}</div>
                    <div class="col-md-4 color-black"><b>Grade:</b> {% if examAnswer.finished %}{{ examAnswer.grade }}/{{ examAnswer.exam.base }}{% else %}Pending{% endif %}</div>
                    <br>
                    <br>

                    <table id="results-table" class="table table-striped {#table-bordered#}" cellspacing="0"
                           width="100%">
                        <thead>
                        <tr>
                            <th class="col-number">#</th>
                            <th class="col-question">Question</th>
                            <th class="col-type">Type</th>
                            <th class="col-answer">Answer</th>
                            <th class="col-result"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for questionAnswer in examAnswer.questionAnswers %}
                            <tr>
                                <td class="col-number"><b>{{ loop.index }}</b></td>
                                <td class="col-question">{{ questionAnswer.question.text }}</td>
                                <td class="col-type">{{ questionAnswer.question.type }}</td>
                                <td class="col-answer {% if examAnswer.finished %}{{ questionAnswer.correct ? "correct" : "incorrect" }}{% endif %}">
                                    {% if examAnswer.finished %}{{ questionAnswer.answer }}{% else %}-{% endif %}
                                </td>
                                <td class="col-result">
                                    {% if examAnswer.finished %}
                                        <i class="fa-{{ questionAnswer.correct ? "check" : "close" }}"></i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset ('assets/js/angular/angular.min.js') }}"></script>
    <script src="{{ asset ('assets/js/parser.js') }}"></script>

    <script type="text/javascript">
        var app = angular.module('app', []);

        var table;

        $(function () {
            table = $('#results-table');
            table.find('tbody tr').each(function () {
                var columns = $(this).find('td');
                $(columns[1]).html(Parser.format($(columns[1]).html()));
            });
        });
    </script>
{% endblock %}