{% extends "::base.html.twig" %}

{% block title %}Deleted modules{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/js/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/js/uikit/uikit.css') }}">

    <style>
        .col-actions {
            width: 70px;
            max-width: 70px;
            min-width: 70px;
        }

        .col-questions {
            width: 73px;
            max-width: 73px;
            min-width: 73px;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="page-title">

        <div class="title-env">
            <h1 class="title"><i class="fa fa-cubes"></i> Deleted modules</h1>
        </div>

        <div class="breadcrumb-env">

            <ol class="breadcrumb bc-1">
                <li>
                    <a href="/"><i class="fa-home"></i>Home</a>
                </li>
                <li class="active">
                    <strong>Deleted modules</strong>
                </li>
            </ol>

        </div>

    </div>

    <div class="row" ng-controller="module">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body no-top-padding">
                    <input type="text" style="display: none" id="undeleteInterface" ng-model="deleteId"
                           ng-change="undelete()">
                    <table id="module-table" class="table table-striped {#table-bordered#}" cellspacing="0"
                           width="100%">
                        <thead>
                        <tr>
                            <th class="">Name</th>
                            <th class="col-questions">Questions</th>
                            <th class="col-actions"></th>
                        </tr>
                        </thead>

                        <tfoot>
                        <tr>
                            <th class="">Name</th>
                            <th class="">Questions</th>
                            <th class=""></th>
                        </tr>
                        </tfoot>

                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block endhtml %}
    <div class="modal fade" id="deleteModule">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirm</h4>
                </div>

                <div class="modal-body">

                    Do you want to restore this module?

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-info" id="undeleteModuleBtn" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/yadcf/jquery.dataTables.yadcf.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/tabletools/dataTables.tableTools.min.js') }}"></script>
    <script src="{{ asset ('assets/js/angular/angular.min.js') }}"></script>

    <script type="text/javascript">
    var app = angular.module('app', []);

    app.controller('module', function ($scope, $http) {

        $scope.undeleteUrl = '{{ path('undelete_module', {'module_id':'module_id'}) }}';

        $scope.undelete = function () {

            var responsePromise = $http({
                method: "post",
                url: $scope.undeleteUrl.replace('module_id', $scope.deleteId.split('--')[0]),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            });

            responsePromise.success(function (data, status, headers, config) {
                if (data.error) {
                    $scope.error = data.error;
                } else {
                    $scope.moduleName = '';
                    $.alertSystem.show('success', 'Module restored successfully.');
                    reloadDataTable();
                }
                $scope.adding = false;
            });

            responsePromise.error(function (data, status, headers, config) {
                if (status == 500) {
                    error = 'An error occurred on the server. Please try again later.';
                } else if (status == 401) {
                    error = 'This action requires authentication. Redirecting to login in 5 sec';
                } else if (status == 403) {
                    error = 'You don\'t have permissions to execute this action.';
                } else if (status == 0) {
                    error = 'Could not connect to the server. Please try again later.';
                }
                $.alertSystem.show('danger', error);
            });
        };

    });

    app.directive('ngEnter', function () {
        return function (scope, element, attrs) {
            element.bind("keydown keypress", function (event) {
                if (event.which === 13) {
                    scope.$apply(function () {
                        scope.$eval(attrs.ngEnter);
                    });

                    event.preventDefault();
                }
            });
        };
    });

    var table;
    var eventIndex = 1;
    $geteditActiveUrl = '{{ path('get_edit_module', {'module_id':'module_id'}) }}';
    jQuery(document).ready(function ($) {
        $(window).resize();
        initDataTable();
        $('#module-table').on('click', '.btn-undelete', function (evt) {
            evt.preventDefault();
            var undeleteInterface = $('#undeleteInterface');
            undeleteInterface.val($(this).attr('data-id') + '--' + (eventIndex++));
            $('#deleteModule').modal('show', {backdrop: 'static'});
        });
        $('#undeleteModuleBtn').on('click', function (evt) {
            $('#undeleteInterface').trigger('input');
        });
    });
    var reloadDataTable = function () {
        if (table) {
            if ($('.paginate_button.active a').length > 0) {
                $('.paginate_button.active a').click();
            }
            else {
                $('.paginate_button.previous a').click();
            }
        }
    };
    var initDataTable = function () {
        table = $('#module-table').dataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "{{ path('deleted_modules_ajax') }}",
            "columns": [
                { "data": "name", "name": "name" },
                { "data": "questions", "name": "questions", "defaultContent": "" },
                { "data": "null", "name": "actions", "defaultContent": "", orderable: false }
            ],
            "createdRow": function (row, data, index) {
                $($(row).children()[1]).css({'text-align': 'center'});
                $($(row).children()[2]).html("<a href='#' class='btn btn-secondary btn-sm btn-icon icon-left btn-undelete undelete' data-id='" + data.id + "'>Restore</a>");
            }
        });
        $('#module-table_processing').css({width: '100%', height: '100%', background: 'rgba(0,0,0,0.45)', top: '21px', 'z-index': 1000}).html('<img src="{{ asset('assets/images/loading.GIF') }}" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 50px;">');
    };

    </script>
{% endblock %}