{% extends "::base.html.twig" %}

{% block title %}Survey Topics{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/js/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/js/uikit/uikit.css') }}">

    <style>
        .col-actions {
            width: 113px;
            max-width: 113px;
            min-width: 113px;
        }

        .col-questions {
            width: 73px;
            max-width: 73px;
            min-width: 73px;
        }

        .col-active {
            width: 55px;
            max-width: 55px;
            min-width: 55px;
        }

        @media (max-width: 767px) {
            .pull-right.nxs {
                float: none !important;
            }
        }

        @media (max-width: 1199px) {
            .col-actions {
                width: 75px;
                max-width: 75px;
                min-width: 75px;
            }
        }
    </style>
{% endblock %}

{% block body %}

    <div class="page-title">

        <div class="title-env">
            <h1 class="title"><i class="fa fa-cubes"></i> Survey Topics</h1>
        </div>

        <div class="breadcrumb-env">

            <ol class="breadcrumb bc-1">
                <li>
                    <a href="/"><i class="fa-home"></i>Home</a>
                </li>
                <li class="active">
                    <strong>Survey Topics</strong>
                </li>
            </ol>

        </div>

    </div>

    <div class="row" ng-controller="module">
        <div class="col-sm-4 pull-right nxs">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ "{{ (editingId == '') ? 'New' : 'Edit' }}" }} Survey Topic</h3>
                </div>

                <div class="panel-body">

                    <div class="form-group">
                        <label for="moduleName">Topic:</label>
                        <input type="text" class="form-control" placeholder="Survey Topic" id="moduleName"
                               ng-model="moduleName" ng-enter="saveModule()">

                            <span class="error"
                                  style="color: red; font-style: italic; padding: 5px 0; display: block">{{ '{{ error }}' }}</span>
                    </div>

                    <hr>

                    <div class="pull-right">
                        <button class="btn btn-success btn-sm" ng-click="saveModule()">
                            <pan>{{ "{{ (editingId == '') ? 'Add' : 'Save' }}" }}</pan> {#<i class="fa-check" ng-hide="adding"></i>#}
                            <i class="fa-spin fa-spinner"
                               ng-hide="!adding"></i>
                        </button>

                        <button class="btn btn-sm pull-right" ng-click="cancelEditing()" ng-show="editingId">
                            Cancel
                        </button>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-body no-top-padding">
                    <input type="text" style="display: none" id="editInterface" ng-model="editId"
                           ng-change="prepareEdit()">
                    <input type="text" style="display: none" id="activeInterface" ng-model="editActiveId"
                           ng-change="setActive()">
                    <input type="text" style="display: none" id="deleteInterface" ng-model="deleteId"
                           ng-change="delete()">
                    <table id="module-table" class="table table-striped {#table-bordered#}" cellspacing="0"
                           width="100%">
                        <thead>
                        <tr>
                            <th class="">Name</th>
                            {#<th class="col-questions">Questions</th>#}
                            <th class="col-active">Active</th>
                            <th class="col-actions"></th>
                        </tr>
                        </thead>

                        <tfoot>
                        <tr>
                            <th class="">Name</th>
                            {#<th class="">Questions</th>#}
                            <th class="">Active</th>
                            <th class=""></th>
                        </tr>
                        </tfoot>

                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block endhtml %}
    <div class="modal fade" id="deleteModule">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirm</h4>
                </div>

                <div class="modal-body">

                    Do you want to delete this Survey Topic?

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-info" id="deleteModuleBtn" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/yadcf/jquery.dataTables.yadcf.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/tabletools/dataTables.tableTools.min.js') }}"></script>
    <script src="{{ asset ('assets/js/angular/angular.min.js') }}"></script>

    <script type="text/javascript">
    var app = angular.module('app', []);

    app.controller('module', function ($scope, $http) {

        $scope.addUrl = '{{ path('new_survey_topic') }}';
        $scope.editUrl = '{{ path('edit_survey_topic', {'topic_id':'module_id'}) }}';
        $scope.editActiveUrl = '{{ path('set_active_survey_topic', {'topic_id':'module_id'}) }}';
        $scope.deleteUrl = '{{ path('delete_survey_topic', {'topic_id':'module_id'}) }}';

        $scope.error = '';
        $scope.moduleName = '';
        $scope.adding = false;

        $scope.editingId = '';
        $scope.editActiveId = '';
        $scope.deleteId = '';

        $scope.saveModule = function () {
            if ($scope.adding || $scope.moduleName == '')
                return;
            $scope.adding = true;
            $scope.error = '';
            console.log($scope.moduleName)
            var responsePromise = $http({
                method: "post",
                url: $scope.editingId ? $scope.editUrl.replace('module_id', $scope.editingId) : $scope.addUrl,
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                data: $.param({name: $scope.moduleName})
            });

            responsePromise.success(function (data, status, headers, config) {
                if (data.error) {
                    $scope.error = data.error;
                    $scope.adding = false;
                } else {
                    $scope.moduleName = '';
                    $.alertSystem.show('success', 'Module saved successfully.');
                    reloadDataTable();
                    $scope.adding = false;
                    $scope.cancelEditing();
                }
            });

            responsePromise.error(function (data, status, headers, config) {
                if (status == 500) {
                    error = 'An error occurred on the server. Please try again later.';
                } else if (status == 401) {
                    error = 'This action requires authentication. Redirecting to login in 5 sec';
                } else if (status == 404) {
                    error = 'The specified module do not exist.';
                } else if (status == 403) {
                    error = 'You don\'t have permissions to execute this action.';
                } else if (status == 0) {
                    error = 'Could not connect to the server. Please try again later.';
                }
                $.alertSystem.show('danger', error);
                $scope.adding = false;
            });
        };

        $scope.prepareEdit = function () {
            $scope.editingId = $('#' + $scope.editId.split('--')[0]).attr('data-id');
            $scope.moduleName = $('#module-' + $scope.editingId).html();
            $('#moduleName').focus();
        };

        $scope.cancelEditing = function () {
            if (!$scope.adding) {
                $scope.editingId = '';
                $scope.moduleName = '';
            }
        };

        $scope.setActive = function () {
            $scope.errorTable = '';

            var responsePromise = $http({
                method: "post",
                url: $scope.editActiveUrl.replace('module_id', $('#' + $scope.editActiveId.split('--')[0]).attr('data-id')),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            });

            responsePromise.error(function (data, status, headers, config) {
                if (status == 500) {
                    error = 'An error occurred on the server. Please try again later.';
                } else if (status == 401) {
                    error = 'This action requires authentication. Redirecting to login in 5 sec';
                } else if (status == 403) {
                    error = 'You don\'t have permissions to execute this action.';
                } else if (status == 0) {
                    error = 'Could not connect to the server. Please try again later.';
                }
                $.alertSystem.show('danger', error);
            });
        };

        $scope.delete = function () {

            var responsePromise = $http({
                method: "post",
                url: $scope.deleteUrl.replace('module_id', $scope.deleteId.split('--')[0]),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            });

            responsePromise.success(function (data, status, headers, config) {
                if (data.error) {
                    $scope.error = data.error;
                } else {
                    $scope.moduleName = '';
                    $.alertSystem.show('success', 'Survey Topic deleted successfully.');
                    reloadDataTable();
                }
                $scope.adding = false;
            });

            responsePromise.error(function (data, status, headers, config) {
                if (status == 500) {
                    error = 'An error occurred on the server. Please try again later.';
                } else if (status == 401) {
                    error = 'This action requires authentication. Redirecting to login in 5 sec';
                } else if (status == 403) {
                    error = 'You don\'t have permissions to execute this action.';
                } else if (status == 0) {
                    error = 'Could not connect to the server. Please try again later.';
                }
                $.alertSystem.show('danger', error);
            });
        };

    });

    app.directive('ngEnter', function () {
        return function (scope, element, attrs) {
            element.bind("keydown keypress", function (event) {
                if (event.which === 13) {
                    scope.$apply(function () {
                        scope.$eval(attrs.ngEnter);
                    });

                    event.preventDefault();
                }
            });
        };
    });

    var table;
    var eventIndex = 1;
    $geteditActiveUrl = '{{ path('get_edit_module', {'module_id':'module_id'}) }}';
    jQuery(document).ready(function ($) {
        $(window).resize();
        initDataTable();
        $('#module-table').on('click', '.btn-edit', function (evt) {
            evt.preventDefault();
            var editInterface = $('#editInterface');
            editInterface.val(this.id + '--' + (eventIndex++));
            editInterface.trigger('input');
        });
        $('#module-table').on('change', '.cmn-toggle', function (evt) {
            evt.preventDefault();
            var activeInterface = $('#activeInterface');
            activeInterface.val(this.id + '--' + (eventIndex++));
            activeInterface.trigger('input');
        });
        $('#module-table').on('click', '.btn-delete', function (evt) {
            evt.preventDefault();
            var deleteInterface = $('#deleteInterface');
            deleteInterface.val($(this).attr('data-id') + '--' + (eventIndex++));
            $('#deleteModule').modal('show', {backdrop: 'static'});
        });
        $('#deleteModuleBtn').on('click', function (evt) {
            $('#deleteInterface').trigger('input');
        });
    });
    var reloadDataTable = function () {
        if (table) {
            if ($('.paginate_button.active a').length > 0) {
                $('.paginate_button.active a').click();
            }
            else {
                $('.paginate_button.previous a').click();
            }
        }
    };
    var initDataTable = function () {
        table = $('#module-table').dataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "{{ path('surveys_topics_ajax') }}",
            "columns": [
                { "data": "name", "name": "name" },
                { "data": "null", "name": "active", "defaultContent": "true" },
                { "data": "null", "name": "actions", "defaultContent": "", orderable: false }
            ],
            "createdRow": function (row, data, index) {
//                $($(row).children()[0]).html("<a href='" + $geteditActiveUrl.replace('module_id', data.id) + "' style='color: #0000ff' id='module-" + data.id + "'>" + $($(row).children()[0]).html() + "</a>");
                $($(row).children()[1]).html("<div class='switch'><input id='cmn-toggle-" + index + "' class='cmn-toggle cmn-toggle-round' type='checkbox' data-id='" + data.id + "' " + (data.active ? "checked='checked'" : "") + "><label for='cmn-toggle-" + index + "' class='no-margin'></label></div>");
                $($(row).children()[2]).html("<a href='#'id='btn-edit-" + index + "' class='btn btn-secondary btn-sm btn-icon icon-left btn-edit edit' data-id='" + data.id + "'><i class='fa-edit hidden-lg'></i><span class='hidden-md hidden-sm hidden-xs'>Edit</span></a> <a href='#' class='btn btn-danger btn-sm btn-icon icon-left btn-delete delete' data-id='" + data.id + "'><i class='fa-trash hidden-lg'></i><span class='hidden-md hidden-sm hidden-xs'>Delete</span></a>");
            }
        });
        $('#module-table_processing').css({width: '100%', height: '100%', background: 'rgba(0,0,0,0.45)', top: '21px', 'z-index': 1000}).html('<img src="{{ asset('assets/images/loading.GIF') }}" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 50px;">');
    };
    var clicked = function (data) {
        console.log(data['name']);
        return false;
    };

    </script>
{% endblock %}