{% extends "::base.html.twig" %}

{% block title %}Deleted Exams{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/js/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/js/uikit/uikit.css') }}">

    <style>
        .col-ccorrect {
            width: 65px;
        }

        .col-cincorrect {
            width: 75px;
        }

        .col-ccorrect:before, .col-cincorrect:before {
            margin-top: 9px;
        }

        .col-duration {
            width: 70px;
        }

        .col-actions {
            width: 70px;
            max-width: 70px;
            min-width: 70px;
        }

        .col-ccorrect, .col-cincorrect, .col-duration, .col-active {
            text-align: center;
        }

        @media (max-width: 767px) {
            .col-duration {
                display: none !important;
            }
        }

        @media (max-width: 991px) {
            .col-ccorrect, .col-cincorrect {
                display: none !important;
            }
        }

        @media (max-width: 1199px) {
            .col-ccorrect, .col-cincorrect {
                display: none !important;
            }

            .col-actions {
                width: 75px;
                max-width: 75px;
                min-width: 75px;
            }
        }
    </style>
{% endblock %}

{% block body %}

    <div class="page-title">

        <div class="title-env">
            <h1 class="title"><i class="fa fa-cubes"></i> Deleted exams</h1>
        </div>

        <div class="breadcrumb-env">

            <ol class="breadcrumb bc-1">
                <li>
                    <a href="/"><i class="fa-home"></i>Home</a>
                </li>
                <li class="active">
                    <strong>Deleted exams</strong>
                </li>
            </ol>

        </div>

    </div>

    <div class="row" ng-controller="exam">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body no-top-padding">
                    <input type="text" style="display: none" id="undeleteInterface" ng-model="deleteId"
                           ng-change="undelete()">
                    <table id="exam-table" class="table table-striped {#table-bordered#}" cellspacing="0"
                           width="100%">
                        <thead>
                        <tr>
                            <th class="col-exam">Exam</th>
                            <th>Name</th>
                            <th class="col-ccorrect">Choose Correct</th>
                            <th class="col-cincorrect">Choose Incorrect</th>
                            <th class="col-duration">Duration</th>
                            <th class="col-actions"></th>
                        </tr>
                        </thead>

                        <tfoot>
                        <tr>
                            <th colspan="6">
                                <strong>Exam: </strong>
                                <select class="form-control" id="exam-filter">
                                    <option value="">All</option>
                                    {% for module in modules %}
                                        <option value="{{ module.id }}">{{ module.name }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block endhtml %}
    <div class="modal fade" id="deleteExam">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirm</h4>
                </div>

                <div class="modal-body">

                    Do you want to restore this exam?

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-info" id="undeleteExamBtn" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/yadcf/jquery.dataTables.yadcf.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/tabletools/dataTables.tableTools.min.js') }}"></script>
    <script src="{{ asset ('assets/js/angular/angular.min.js') }}"></script>

    <script type="text/javascript">
        var app = angular.module('app', []);

        app.controller('exam', function ($scope, $http) {

            $scope.undeleteUrl = '{{ path('undelete_exam', {'exam_id':'exam_id'}) }}';

            $scope.undelete = function () {

                var responsePromise = $http({
                    method: "post",
                    url: $scope.undeleteUrl.replace('exam_id', $scope.deleteId.split('--')[0]),
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                });

                responsePromise.success(function (data, status, headers, config) {
                    if (data.error) {
                        $scope.error = data.error;
                    } else {
                        $scope.examName = '';
                        $.alertSystem.show('success', 'Exam restored successfully.');
                        reloadDataTable();
                    }
                    $scope.adding = false;
                });

                responsePromise.error(function (data, status, headers, config) {
                    if (status == 500) {
                        error = 'An error occurred on the server. Please try again later.';
                    } else if (status == 401) {
                        error = 'This action requires authentication. Redirecting to login in 5 sec';
                    } else if (status == 403) {
                        error = 'You don\'t have permissions to execute this action.';
                    } else if (status == 0) {
                        error = 'Could not connect to the server. Please try again later.';
                    }
                    $.alertSystem.show('danger', error);
                });
            };

        });

        app.directive('ngEnter', function () {
            return function (scope, element, attrs) {
                element.bind("keydown keypress", function (event) {
                    if (event.which === 13) {
                        scope.$apply(function () {
                            scope.$eval(attrs.ngEnter);
                        });

                        event.preventDefault();
                    }
                });
            };
        });

        var table;
        var eventIndex = 1;
        jQuery(document).ready(function ($) {
            $(window).resize();
            initDataTable();
            $('#exam-table').on('click', '.btn-undelete', function (evt) {
                evt.preventDefault();
                var undeleteInterface = $('#undeleteInterface');
                undeleteInterface.val($(this).attr('data-id') + '--' + (eventIndex++));
                $('#deleteExam').modal('show', {backdrop: 'static'});
            });
            $('#undeleteExamBtn').on('click', function (evt) {
                $('#undeleteInterface').trigger('input');
            });
        });
        var reloadDataTable = function () {
            if (table) {
                if ($('.paginate_button.active a').length > 0) {
                    $('.paginate_button.active a').click();
                }
                else {
                    $('.paginate_button.previous a').click();
                }
            }
        };
        var initDataTable = function () {
            table = $('#exam-table').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "{{ path('deleted_exams_ajax') }}",
                "columns": [
                    { "data": "module", "name": "module" },
                    { "data": "name", "name": "name" },
                    { "data": "cantQuestionsCc", "name": "questionsCc" },
                    { "data": "cantQuestionsCi", "name": "questionsCi" },
                    { "data": "duration", "name": "duration" },
                    { "data": "null", "name": "actions", "defaultContent": "", orderable: false }
                ],
                "createdRow": function (row, data, index) {
                    $($(row).children()[2]).addClass('col-ccorrect');
                    $($(row).children()[3]).addClass('col-cincorrect');
                    $($(row).children()[4]).addClass('col-duration');
                    $($(row).children()[5]).addClass('col-actions').html("<a href='#' class='btn btn-secondary btn-sm btn-icon icon-left btn-undelete undelete' data-id='" + data.id + "'><i class='fa-trash hidden-lg'></i><span class='hidden-md hidden-sm hidden-xs'>Restore</span></a>");
                }
            });
            $('#exam-table_processing').css({width: '100%', height: '100%', background: 'rgba(0,0,0,0.45)', top: '21px', 'z-index': 1000}).html('<img src="{{ asset('assets/images/loading.GIF') }}" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 50px;">');
        };

    </script>
{% endblock %}