{% extends "::base.html.twig" %}

{% block title %}Exams{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/js/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/js/uikit/uikit.css') }}">

    <style>
        .col-ccorrect {
            width: 65px;
        }

        .col-cincorrect {
            width: 75px;
        }

        .col-ccorrect:before, .col-cincorrect:before {
            margin-top: 9px;
        }

        .col-duration {
            width: 70px;
        }

        .col-active {
            width: 55px;
        }

        .col-actions {
            width: 113px;
            max-width: 113px;
            min-width: 113px;
        }

        .col-ccorrect, .col-cincorrect, .col-duration, .col-active {
            text-align: center;
        }

        @media (max-width: 767px) {
            .col-duration {
                display: none !important;
            }
        }

        /*@media (max-width: 991px) {*/
            /*.col-ccorrect, .col-cincorrect {*/
                /*display: none !important;*/
            /*}*/
        /*}*/

        @media (max-width: 1199px) {
            .col-ccorrect, .col-cincorrect, .col-actions {
                display: none !important;
            }
        }

    </style>
{% endblock %}

{% block body %}

    <div class="page-title">

        <div class="title-env">
            <h1 class="title"><i class="fa fa-pencil"></i> Exams</h1>
        </div>

        <div class="breadcrumb-env">

            <ol class="breadcrumb bc-1">
                <li>
                    <a href="/"><i class="fa-home"></i>Home</a>
                </li>
                <li class="active">
                    <strong>Exams</strong>
                </li>
            </ol>

        </div>

    </div>

    <div class="row" ng-controller="exam">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body no-top-padding">
                    <input type="text" style="display: none" id="activeInterface" ng-model="editActiveId"
                           ng-change="setActive()">
                    <input type="text" style="display: none" id="deleteInterface" ng-model="deleteId"
                           ng-change="delete()">
                    {{ '{{ deleteId }}' }}
                    <table id="exam-table" class="table table-striped {#table-bordered#}" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th class="col-module">Module</th>
                            <th class="col-ccorrect">Choose Correct</th>
                            <th class="col-cincorrect">Choose Incorrect</th>
                            <th class="col-duration">Duration</th>
                            <th class="col-active">Active</th>
                            <th class="col-actions"></th>
                        </tr>
                        </thead>

                        <tfoot>
                        <tr>
                            <th colspan="7">
                                <strong>Module: </strong>
                                <select class="form-control" id="module-filter">
                                    <option value="">All</option>
                                    {% for module in modules %}
                                        <option value="{{ module.id }}">{{ module.name }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block endhtml %}
    <div class="modal fade" id="deleteQuestion">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirm</h4>
                </div>

                <div class="modal-body">
                    Do you want to delete this exam?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-info" id="deleteExamBtn" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/yadcf/jquery.dataTables.yadcf.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/tabletools/dataTables.tableTools.min.js') }}"></script>
    <script src="{{ asset ('assets/js/angular/angular.min.js') }}"></script>
    <script src="{{ asset ('assets/js/parser.js') }}"></script>

    <script type="text/javascript">
        var editUrl = '{{ path('edit_exam', {'exam_id':'exam_id'}) }}';
        var editActiveUrl = '{{ path('set_active_exam', {'exam_id':'exam_id'}) }}';
        var app = angular.module('app', []);

        app.controller('exam', function ($scope, $http) {

            $scope.deleteUrl = '{{ path('delete_exam', {'exam_id':'exam_id'}) }}';
//            $scope.deleteId = '';

            $scope.setActive = function () {
                $scope.errorTable = '';

                var responsePromise = $http({
                    method: "post",
                    url: editActiveUrl.replace('exam_id', $('#' + $scope.editActiveId.split('--')[0]).attr('data-id')),
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                });

                responsePromise.error(function (data, status, headers, config) {
                    if (status == 500) {
                        error = 'An error occurred on the server. Please try again later.';
                    } else if (status == 401) {
                        error = 'This action requires authentication. Redirecting to login in 5 sec';
                    } else if (status == 403) {
                        error = 'You don\'t have permissions to execute this action.';
                    } else if (status == 0) {
                        error = 'Could not connect to the server. Please try again later.';
                    }
                    $.alertSystem.show('danger', error);
                });
            };

            $scope.delete = function () {

                var responsePromise = $http({
                    method: "post",
                    url: $scope.deleteUrl.replace('exam_id', $scope.deleteId.split('--')[0]),
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                });

                responsePromise.success(function (data, status, headers, config) {
                    if (data.error) {
                        $scope.error = data.error;
                    } else {
                        $scope.moduleName = '';
                        $.alertSystem.show('success', 'Exam deleted successfully.');
                        reloadDataTable();
                    }
                    $scope.adding = false;
                });

                responsePromise.error(function (data, status, headers, config) {
                    if (status == 500) {
                        error = 'An error occurred on the server. Please try again later.';
                    } else if (status == 401) {
                        error = 'This action requires authentication. Redirecting to login in 5 sec';
                    } else if (status == 403) {
                        error = 'You don\'t have permissions to execute this action.';
                    } else if (status == 0) {
                        error = 'Could not connect to the server. Please try again later.';
                    }
                    $.alertSystem.show('danger', error);
                });
            };

        });

        var table;
        var eventIndex = 1;
        jQuery(document).ready(function ($) {
            $(window).resize();
            initDataTable();

            $('#exam-table').on('change', '.cmn-toggle', function (evt) {
                evt.preventDefault();
                var activeInterface = $('#activeInterface');
                activeInterface.val(this.id + '--' + (eventIndex++));
                activeInterface.trigger('input');
            });
            $('#exam-table').on('click', '.btn-delete', function (evt) {
                evt.preventDefault();
                var deleteInterface = $('#deleteInterface');
                deleteInterface.val($(this).attr('data-id') + '--' + (eventIndex++));
                $('#deleteQuestion').modal('show', {backdrop: 'static'});
            });
            $('#deleteExamBtn').on('click', function (evt) {
                $('#deleteInterface').trigger('input');
            });

            $('#module-filter').on('change', function () {
                table.fnFilter($(this).val(), 0);
            });
        });
        var reloadDataTable = function () {
            if (table) {
                if ($('.paginate_button.active a').length > 0) {
                    $('.paginate_button.active a').click();
                }
                else {
                    $('.paginate_button.previous a').click();
                }
            }
        };
        var initDataTable = function () {
            table = $('#exam-table').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "{{ path('exams_ajax') }}",
                "columns": [
                    { "data": "name", "name": "name" },
                    { "data": "module", "name": "module" },
                    { "data": "cantQuestionsCc", "name": "questionsCc" },
                    { "data": "cantQuestionsCi", "name": "questionsCi" },
                    { "data": "duration", "name": "duration" },
                    { "data": "null", "name": "null", "defaultContent": "" },
                    { "data": "null", "name": "actions", "defaultContent": "", orderable: false }
                ],
                "createdRow": function (row, data, index) {
                    $($(row).children()[2]).addClass('col-ccorrect');
                    $($(row).children()[3]).addClass('col-cincorrect');
                    $($(row).children()[4]).addClass('col-duration');
                    $($(row).children()[5]).addClass('col-active').html("<div class='switch'><input id='cmn-toggle-" + index + "' class='cmn-toggle cmn-toggle-round' type='checkbox' data-id='" + data.id + "' " + (data.active ? "checked='checked'" : "") + "><label for='cmn-toggle-" + index + "' class='no-margin'></label></div>");
                    $($(row).children()[6]).addClass('col-actions').html("<a href='" + editUrl.replace('exam_id', data.id) + "' id='btn-edit-" + index + "' class='btn btn-secondary btn-sm btn-icon icon-left btn-edit edit' data-id='" + data.id + "'><i class='fa-edit hidden-lg'></i><span class='hidden-md hidden-sm hidden-xs'>Edit</span></a> <a href='#' class='btn btn-danger btn-sm btn-icon icon-left btn-delete delete' data-id='" + data.id + "'><i class='fa-trash hidden-lg'></i><span class='hidden-md hidden-sm hidden-xs'>Delete</span></a>");
                }
            });
            $('#exam-table_processing').css({width: '100%', height: '100%', background: 'rgba(0,0,0,0.45)', top: '21px', 'z-index': 1000}).html('<img src="{{ asset('assets/images/loading.GIF') }}" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 50px;">');
        };
    </script>

{% endblock %}