{% extends "::base.html.twig" %}

{% block title %}{% if exam.id is defined %}Edit{% else %}Add{% endif %} exam{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/js/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/js/uikit/uikit.css') }}">

    <style>
        .switch {
            margin-top: 3px;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="page-title">

        <div class="title-env">
            <h1 class="title">{% if exam.id is defined %}Edit{% else %}Add{% endif %} exam</h1>
        </div>

        <div class="breadcrumb-env">

            <ol class="breadcrumb bc-1">
                <li>
                    <a href="/"><i class="fa-home"></i>Home</a>
                </li>
                <li class="active">
                    <strong>Add exam</strong>
                </li>
            </ol>

        </div>

    </div>

    {% if errors is defined and errors|length > 0 %}
        <div class="alert alert-danger col-sm-12">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row" ng-controller="question">
        <div class="col-sm-12">
            <div class="panel panel-default">

                <div class="panel-body no-top-padding row">

                    <form method="POST"
                          action="{{ (exam is defined and exam.id) ? path('edit_exam', {'exam_id':exam.id}) : path('new_exam') }}"
                          id="form">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="{#col-sm-3 #}control-label">Name:</label>

                                <input class="form-control" id="name" name="name" placeholder="Exam name" type="text"
                                       value="{{ exam is defined ? exam.name : '' }}">
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="{#col-sm-3 #}control-label">Module:</label>

                                <select class="form-control" name="moduleFilter" id="moduleFilter">
                                    {% for module in modules %}
                                        <option value="{{ module.id }}"
                                                {% if exam.module is defined and exam.module.id == module.id %}selected{% endif %}>{{ module.name }}
                                            - ({{ module.questions|length }})
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="{#col-sm-3#} control-label">Duration:</label>

                                <div class="input-group">
                                    <input type="text" name="duration" id="duration" class="form-control"
                                           data-mask="[0-2][0-3]:[0-5][0-9]:[0-5][0-9]" data-is-regex="true"
                                           placeholder="hh:mm:ss"
                                           value="{{ exam is defined ? exam.formatedDuration : '' }}"/>
                                    <span class="input-group-addon btn clear-time" data-clear="#duration"><i
                                                class="fa fa-close"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="form-group">
                                <label class="{#col-sm-3#} control-label">Correct questions:</label>

                                <div data-step="1" class="input-group spinner">
                                    <span class="input-group-btn">
                                        <button data-type="decrement" class="btn btn-info btn-single">-</button>
                                    </span>
                                    <input type="text" class="form-control text-center" id="questionsCc"
                                           name="questionsCc"
                                           value="{{ exam is defined ? exam.cantQuestionsCc : '1' }}"/>
                                    <span class="input-group-btn">
                                        <button data-type="increment" class="btn btn-info btn-single">+</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="form-group">
                                <label class="{#col-sm-3#} control-label">Incorrect questions:</label>

                                <div data-step="1" class="input-group spinner" data-min="1">
                                    <span class="input-group-btn">
                                        <button data-type="decrement" class="btn btn-info btn-single">-</button>
                                    </span>
                                    <input type="text" class="form-control text-center" id="questionsCi"
                                           name="questionsCi"
                                           value="{{ exam is defined ? exam.cantQuestionsCi : '1' }}"/>
                                    <span class="input-group-btn">
                                        <button data-type="increment" class="btn btn-info btn-single">+</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="form-group">
                                <label class="{#col-sm-3 #}control-label">Grade over:</label>

                                <input class="form-control" id="base" name="base" placeholder="Top score. e.g. 40" type="text"
                                       value="{{ exam is defined ? exam.base : '' }}">
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-sm-2 col-xs-6">
                            <div class="form-group">
                                <label class="{#col-sm-3#} control-label">Active:</label>

                                <div>
                                    <div class="switch">
                                        <input id="active" name="active" class="cmn-toggle cmn-toggle-round"
                                               type="checkbox" {{ (exam is defined and exam.active) ? 'checked="checked"' : '' }}>
                                        <label for="active" class="no-margin"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-5">
                            <div class="form-group">
                                <label class="{#col-sm-3#} control-label">Randomize questions:</label>

                                <div>
                                    <div class="switch">
                                        <input id="randomize" name="randomize" class="cmn-toggle cmn-toggle-round"
                                               type="checkbox" {{ (exam is defined and exam.randomizeQuestions) ? 'checked="checked"' : '' }}>
                                        <label for="randomize" class="no-margin"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-md-12">
                            <div class="alert alert-default">
                                <h4>Rules for creating an exam</h4>
                                <ol style="margin-bottom: 0; padding-left: 19px">
                                    <li>
                                        All fields are required.
                                    </li>
                                    <li>
                                        The format of the field duration is <b>hh:mm:ss</b>
                                    </li>
                                    <li>
                                        The fields <b>correct question</b> and <b>incorrect questions</b> only accepts
                                        positive numbers
                                    </li>
                                    <li>
                                        The minimun value of the sum of the fields <b>correct question</b> and <b>incorrect
                                            questions</b> is 1
                                    </li>
                                </ol>
                            </div>
                        </div>

                        <div class="col-sm-12 text-center">
                            <div style="border-top: 1px solid #e0e0e0; margin-bottom: 15px"></div>

                            <button class="btn btn-success btn-sm" type="submit">
                                <pan class="ng-binding">Save</pan>
                                <i class="fa-spin fa-spinner ng-hide" ng-hide="!adding"></i>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/yadcf/jquery.dataTables.yadcf.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/tabletools/dataTables.tableTools.min.js') }}"></script>
    <script src="{{ asset ('assets/js/angular/angular.min.js') }}"></script>
    <script src="{{ asset ('assets/js/inputmask/jquery.inputmask.bundle.js') }}"></script>

    <script type="text/javascript">
        var app = angular.module('app', []);
        var parser = null

        app.controller('question', function ($scope, $http) {

        });

        $(function () {
            $('.clear-time').on('click', function () {
                if ($(this).attr('data-clear')) {
                    $($(this).attr('data-clear')).val('');
                }
            });
        });
    </script>
{% endblock %}